.tech-slideshow {
    height: 450px;
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  .tech-slideshow2 {
    height: 465px;
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .tech-slideshow > div {
    height: 200px;
    width: 4526px;
    background: url("combined\ \(7\).png") ;
    /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg); */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
    padding-top: 5%;
  }
  .tech-slideshow2 > div {
    height: 200px;
    width: 4526px;
    background: url("combined\ \(14\)6.png") ;
    /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg); */
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
    animation: moveSlideshow 26s linear infinite;
  }
  .tech-slideshow2 .mover-1 {
    animation: reverseMoveSlideshow 26s linear infinite;
  }
  .tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 200px;
    animation: moveSlideshow 15s linear infinite;
  }
  .tech-slideshow:hover .mover-2 {
    opacity: 1;
  }
  
  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.6666%);  
    }
  }


  
  @keyframes reverseMoveSlideshow {
    0% { 
      transform: translateX(0);  
    }
    100% { 
      transform: translateX(66.6666%);  
    }
  }
  .line {
    position: relative;
    text-align: center;
  }
  .line:after {
    content: "";
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
  }
  .line span {
    padding: 0 8px;
    background-color: white;
    position: relative;
  }
  .tbh{
    /* display: flex; */
    width: 100%;
    flex-direction: row;
  }
  .sectionsplit
  {
    color: rgb(255, 255, 255);
    background-color: rgb(38, 87, 124);
  }
  div.gallery2 {
    margin: 5px;
    /* border: 1px solid #ca1919; */
    /* background-color: rgb(216, 14, 14); */
    float: left;
    width: 250px;
    
    border-radius: 15px;
    /* border: 2px solid #215ead; */
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* width: 200px; */
     /* height: 250px; */
  }
  #AutoCAD{
    background-color: rgb(238, 234, 234);
    height: 10%;
  }
  div.gallery2:hover {
    /* border: 1px solid #777; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   
  }

  
  div.gallery2 img {
    width: 100%;
    height: auto;
    
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .somethingtotry
  {
    width:2px;
  }